{% extends "base_generic.html" %}
{% block content %}
<main class="col-md-9 col-lg-10 px-0">
  <div class="d-flex flex-column align-items-start pt-4 pb-3 mb-3" style="background-color: #f5f7fa; border-bottom: solid 1px #e3e6ed;">
    <p class="px-md-5 mb-3" style="font-family: sans-serif; font-size: 1.453125rem; font-weight: 600;">QUẢN LÝ NHẬP HÀNG</p>

    <div class="container-fluid px-md-5">
      <div class="row align-items-center">
          <div class="col-auto">
            <div class="d-flex align-items-center border rounded px-3" style="width: 250px; background: #FFFFFF; border-radius: 5px; border-color: #cbd0dd;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="16" height="16" class="text-muted">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
                <input type="text" id="search-input" class="form-control border-0 shadow-none bg-transparent ms-2" 
                placeholder="Tìm kiếm..." style="width: 250px; font-size: .8rem; font-family: 'Nunito'; border-radius: 5px; padding: 6px 12px; " 
                value="{{ search_query }}" />
            </div>
          </div>

          <div class="col"></div>
  
          <div class="col-auto d-flex">
              <a href="#" class="btn custom2-btn me-2" style="display: flex; align-items: center; justify-content: center; width: 36px; height: 36px; padding: 0;">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20" height="20">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
                  </svg>
              </a>
              <a href="#" data-bs-toggle="modal" data-bs-target="#uploadFileModal" class="btn custom2-btn me-2" style="display: flex; align-items: center; gap: 8px;">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" width="14" height="14" style="vertical-align: middle;">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
                  </svg>        
                  Nhập file
              </a>
              <a href="#" data-bs-toggle="modal" data-bs-target="#createReceiptModal" class="btn custom-btn" style="display: flex; align-items: center; gap: 8px;">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" width="16" height="16" style="vertical-align: middle;">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                  </svg>
                  Thêm mới
              </a>
          </div>
      </div>
  </div>
</div>

  <!-- Modal Nhập File -->
  <div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="uploadFileForm" method="post" action="" enctype="multipart/form-data">
          <div class="modal-header">
            <h5 class="modal-title" id="uploadFileModalLabel" style="color:#CBA230">Nạp dữ liệu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group mb-2">
              <label for="file" class="mb-2">Chọn file Excel:</label>
              <input type="file" id="file" name="file" class="form-control" accept=".xls,.xlsx">
            </div>
            <div class="form-group mb-2">
              <label for="sheetUrl" class="mb-2">URL của Google Sheets:</label>
              <input type="text" id="sheetUrl" name="sheetUrl" class="form-control">
            </div>
            <div class="form-group mb-2">
              <small class="form-text text-muted">Lưu ý: Hãy đảm bảo rằng liên kết Google Sheets đã được mở ở chế độ công khai.</small>
            </div>
            <div class="form-group mb-2">
              <p>
                Tải file mẫu danh sách nguyên vật liệu <a href="https://docs.google.com/spreadsheets/d/19n8DTaxaKThvLUx1HGE1tif6p1P9mf6-QlLLvRD0dVo/edit?gid=1760162011#gid=1760162011" target="_blank">tại đây</a>.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Hủy</button>
            <button type="submit" class="btn submit-btn" id="submitUploadFileBtn">Nạp & Đóng</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Tạo mới phiếu nhập hàng -->
  <div class="modal fade" id="createReceiptModal" tabindex="-1" role="dialog" aria-labelledby="createReceiptModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 800px; width: 100%; height: 530px;">
        <div class="modal-content" style="height: 100%; overflow-y: auto;">
            <form id="createForm" method="post" action="" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="createReceiptModalLabel" style="color:#CBA230">Thêm mới phiếu nhập hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="height: calc(100% - 125spx); overflow-y: auto;">
                    <div class="row mb-2">
                        <div class="col-md-2 d-flex align-items-center" style="white-space: nowrap;">
                            <label for="receipt_code">Mã phiếu nhập:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <input type="text" id="receipt_code" name="receipt_code" class="form-control custom-input" value="{{ new_receipt_code }}" readonly>
                        </div>
                        <div class="col-md-2 d-flex align-items-center" style="white-space: nowrap;">
                            <label for="receipt_date">Ngày nhập hàng:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <input type="date" id="receipt_date" name="receipt_date" class="form-control custom-input" value="{{ current_time|date:'Y-m-d' }}">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-2 d-flex align-items-center">
                          <label for="order">Mã phiếu đặt:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <select id="order-select" name="order" class="form-control order-select">
                              <option value="">-- Chọn phiếu đặt hàng --</option>
                              {% for order in orders %}
                                  <option value="{{ order.order_code }}">{{ order.order_code }} - {{ order.supplier.supplier_name }}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <div class="col-md-2 d-flex align-items-center">
                          <label for="supplier">Nhà cung cấp:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <select id="supplier-select" name="supplier" class="form-control supplier-select">
                                <option value="">-- Chọn nhà cung cấp --</option>
                                {% for supplier in suppliers %}
                                    <option value="{{ supplier.supplier_code }}">{{ supplier.supplier_code }} - {{ supplier.supplier_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-2 d-flex align-items-center">
                            <label for="total_quantity">Số lượng nhập:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <input type="text" id="total_quantity" name="total_quantity" class="form-control custom-input" readonly>
                        </div>
                        <div class="col-md-2 d-flex align-items-center">
                            <label for="subtotal">Tổng tiền hàng:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <input type="text" id="subtotal" name="subtotal" class="form-control custom-input" readonly>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-2 d-flex align-items-center">
                            <label for="shipping_fee">Phí vận chuyển:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <input type="text" id="shipping_fee" name="shipping_fee" class="form-control custom-input" value="0">
                        </div>
                        <div class="col-md-2 d-flex align-items-center">
                            <label for="vat_fee">Phí VAT:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <input type="text" id="vat_fee" name="vat_fee" class="form-control custom-input" value="0">
                        </div>
                    </div>      
                    <div class="row mb-2">
                        <div class="col-md-2 d-flex align-items-center" style="white-space: nowrap;">
                            <label for="total_amount">Tổng:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <input type="text" id="total_amount" name="total_amount" class="form-control custom-input" readonly>
                        </div>
                        <div class="col-md-2 d-flex align-items-center" style="white-space: nowrap;">
                            <label for="note">Ghi chú:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <input type="text" id="note" name="note" class="form-control custom-input" readonly>
                        </div>
                    </div>
                    <hr color="#dee2e6">
                    <div class="orderlines-container">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn cancel-btn" data-bs-target="#createReceiptModal" data-bs-toggle="modal" data-bs-dismiss="modal" style="width: 150px;">Hủy</button>
                    <button class="btn submit-btn" id="submitCreateReceiptBtn" style="width: 150px;">Tạo mới & Đóng</button>
                </div>
              </form>
          </div>
      </div>
  </div>
  
  <!-- Bảng nhập nguyên vật liệu -->
  {% if receipt_page %}
  <div class="table-responsive scrollbar px-md-5">
    <table class="table">
      <thead>
        <tr>
          <th>
            <a href="?sort_field=order__order_code&sort_order={% if current_sort_field == 'order__order_code' and current_sort_order == 'asc' %}desc{% else %}asc{% endif %}"
               class="{% if current_sort_field == 'order__order_code' %}{{ current_sort_order }}{% endif %}">
              MÃ PHIẾU ĐẶT
            </a>
          </th>
          <th>
            <a href="?sort_field=receipt_code&sort_order={% if current_sort_field == 'receipt_code' and current_sort_order == 'asc' %}desc{% else %}asc{% endif %}"
               class="{% if current_sort_field == 'receipt_code' %}{{ current_sort_order }}{% endif %}">
              MÃ PHIẾU NHẬP
            </a>
          </th>
          <th>
            <a href="?sort_field=receipt_date&sort_order={% if current_sort_field == 'receipt_date' and current_sort_order == 'asc' %}desc{% else %}asc{% endif %}"
               class="{% if current_sort_field == 'receipt_date' %}{{ current_sort_order }}{% endif %}">
              NGÀY NHẬP 
            </a>
          </th>
          <th>
            <a href="?sort_field=supplier__supplier_name&sort_order={% if current_sort_field == 'supplier__supplier_name' and current_sort_order == 'asc' %}desc{% else %}asc{% endif %}"
            class="{% if current_sort_field == 'supplier__supplier_name' %}{{ current_sort_order }}{% endif %}">
              NHÀ CUNG CẤP
            </a>
          </th>
          <th>
            <a href="?sort_field=total_amount&sort_order={% if current_sort_field == 'total_amount' and current_sort_order == 'asc' %}desc{% else %}asc{% endif %}"
            class="{% if current_sort_field == 'total_amount' %}{{ current_sort_order }}{% endif %}">
              GIÁ TRỊ PHIẾU
            </a>
          </th>
          <th>
            <a href="?sort_field=status&sort_order={% if current_sort_field == 'status' and current_sort_order == 'asc' %}desc{% else %}asc{% endif %}"
            class="{% if current_sort_field == 'status' %}{{ current_sort_order }}{% endif %}">
              TRẠNG THÁI
            </a>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for receipt in receipt_page %}
        <tr>
          <td>
            <a href="#" class="id-table" data-bs-toggle="modal" data-bs-target="#modalDetail{{ receipt.order.order_code }}">
              {{ receipt.order.order_code|default:'' }}
            </a>
          </td>
          <td>
            <a href="#" class="id-table" data-bs-toggle="modal" data-bs-target="#modalDetail{{ receipt.receipt_code }}">
                {{ receipt.receipt_code }}
            </a>
          </td>
          <td>{{ receipt.receipt_date|date:'d/m/Y'|default:'' }}</td>
          <td>
            <a href="#" class="id-table" data-bs-toggle="modal" data-bs-target="#modalDetail{{ receipt.supplier.supplier_code }}">
              {{ receipt.supplier }}
            </a>
          </td>
          <td>{{ receipt.total_amount|default:'' }}</td>
          <td>    
            {% if receipt.status == 'completed' %}
            <span class="btn-order-complete">
                Hoàn thành
              </span>
            {% elif receipt.status == 'cancelled' %}
            <span class="btn-order-cancel">
                Đã hủy
              </span>
            {% endif %}
          </td>
          <td>
            {% if receipt.status != 'cancelled' %}
            <a href="#" class="icon-table" data-bs-toggle="modal" data-bs-target="#modalUpdate{{ receipt.receipt_code }}">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="16" height="16">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
              </svg>              
            </a>
            <a href="#" class="icon-table" data-bs-toggle="modal" data-bs-target="#modalDelete{{ receipt.receipt_code }}">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="16" height="16">
                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>              
            </a>
            {% endif %}
          </td>
        </tr>

        <!-- Modal detail phiếu nhập hàng -->
        <div class="modal fade" id="modalDetail{{ receipt.receipt_code }}" tabindex="-1" aria-labelledby="modalDetailLabel{{ receipt.receipt_code }}" aria-hidden="true">
          <div class="modal-dialog" role="document" style="max-width: 800px; width: 100%; height: 440px;">
            <div class="modal-content" style="height: 100%; overflow-y: auto;">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modalDetailLabel{{ receipt.receipt_code }}" class="personal-info" style="color:#CBA230">{{ receipt.receipt_code }} | {{ receipt.supplier.supplier_name }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row mb-2">
                        <div class="col-md-2" style="white-space: nowrap;">
                          <strong>Ngày nhập hàng:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.receipt_date|date:'d/m/Y'|default:'-' }}</span>
                        </div>
                        <div class="col-md-2" style="white-space: nowrap;">
                          <strong>Mã đặt hàng:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.order.order_code|default:'-' }}</span>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-md-2" style="white-space: nowrap;">
                          <strong>Tổng tiền hàng:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.subtotal|default:'-' }}</span>
                        </div>
                        <div class="col-md-2">
                          <strong>Phí vận chuyển:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.shipping_fee|default:'-' }}</span>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-md-2">
                          <strong>Tổng:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.total_amount|default:'-' }}</span>
                        </div>
                        <div class="col-md-2">
                          <strong>Phí VAT:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.vat_fee|default:'-' }}</span>
                        </div>
                      </div>
                    </div>
                    <hr color="#dee2e6"> 
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Đóng</button>
                  </div>
              </div>
          </div>
        </div>

        <!-- Modal detail phiếu đặt hàng -->
        <div class="modal fade" id="modalDetail{{ receipt.order.order_code }}" tabindex="-1" aria-labelledby="modalDetailLabel{{ receipt.order.order_code }}" aria-hidden="true">
          <div class="modal-dialog" role="document" style="max-width: 800px; width: 100%; height: 440px;">
            <div class="modal-content" style="height: 100%; overflow-y: auto;">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modalDetailLabel{{ receipt.order.order_code }}" class="personal-info">{{ receipt.order.order_code }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row mb-2">
                        <div class="col-md-2" style="white-space: nowrap;">
                          <strong>Thời gian:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.order.order_date|date:'d/m/Y'|default:'-' }}</span>
                        </div>
                        <div class="col-md-2" style="white-space: nowrap;">
                          <strong>Ngày dự kiến nhận:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.order.expected_date|date:'d/m/Y'|default:'-' }}</span>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-md-2" style="white-space: nowrap;">
                          <strong>Tổng tiền:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.order.total_amount|default:'-' }}</span>
                        </div>
                        <div class="col-md-2">
                          <strong>Phương thức:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.order.payment_method|default:'-' }}</span>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-md-2">
                          <strong>Trả trước:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.order.prepaid|default:'-' }}</span>
                        </div>
                        <div class="col-md-2">
                          <strong>Ghi chú:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.order.note|default:'-' }}</span>
                        </div>
                      </div>
                    </div>
                    <hr color="#dee2e6"> 
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Đóng</button>
                  </div>
              </div>
          </div>
        </div>

        <!-- Modal detail phiếu đặt hàng -->
        <div class="modal fade" id="modalDetail{{ receipt.supplier.supplier_code }}" tabindex="-1" aria-labelledby="modalDetailLabel{{ receipt.supplier.supplier_code }}" aria-hidden="true">
          <div class="modal-dialog" role="document" style="max-width: 800px; width: 100%; height: 440px;">
            <div class="modal-content" style="height: 100%; overflow-y: auto;">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modalDetailLabel{{ order.supplier.supplier_code }}" class="personal-info" style="color:#CBA230">{{ receipt.supplier.supplier_code }} | {{ receipt.supplier.supplier_name }}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row mb-2">
                        <div class="col-md-2" style="white-space: nowrap;">
                          <strong>Mã nhà cung cấp:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.supplier.supplier_code|default:'-' }}</span>
                        </div>
                        <div class="col-md-2">
                          <strong>Số điện thoại:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.supplier.phone_number|default:'-' }}</span>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-md-2" style="white-space: nowrap;">
                          <strong>Tên nhà cung cấp:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.supplier.supplier_name|default:'-' }}</span>
                        </div>
                        <div class="col-md-2">
                          <strong>Facebook:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.supplier.facebook|default:'-' }}</span>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-md-2">
                          <strong>Phân loại:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.supplier.category|default:'-' }}</span>
                        </div>
                        <div class="col-md-2">
                          <strong>Website:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.supplier.website|default:'-' }}</span>
                        </div>
                      </div>
                      <div class="row mb-2">
                        <div class="col-md-2">
                          <strong>Địa chỉ:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.supplier.address|default:'-' }}</span>
                        </div>
                        <div class="col-md-2">
                          <strong>Ghi chú:</strong>
                        </div>
                        <div class="col-md-4">
                          <span>{{ receipt.supplier.notes|default:'-' }}</span>
                        </div>
                      </div>
                    </div>
                    <hr color="#dee2e6">
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Đóng</button>
                  </div>
              </div>
          </div>
        </div>


        <!-- Modal update -->
        <div class="modal fade" id="modalUpdate{{ receipt.receipt_code }}" tabindex="-1" aria-labelledby="modalUpdateLabel{{ receipt.receipt_code }}" aria-hidden="true">
          <div class="modal-dialog" role="document" style="max-width: 800px; width: 100%; height: 560px;">
            <div class="modal-content" style="height: 100%; overflow-y: auto;">
                <form id="uploadFileForm" method="post" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="modal-header">
                    <h5 class="modal-title" id="updateOrderModalLabel" class="personal-info" style="color:#CBA230">Điều chỉnh phiếu nhập hàng hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="height: calc(100% - 125spx); overflow-y: auto;">
                    <div class="row mb-2">
                        <div class="col-md-2 d-flex align-items-center" style="white-space: nowrap;">
                            <label for="receipt_code">Mã phiếu nhập:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <input type="text" id="update_receipt_code" name="update_receipt_code" class="form-control custom-input" value="{{ receipt.receipt_code }}" readonly>
                          </div>
                        <div class="col-md-2 d-flex align-items-center" style="white-space: nowrap;">
                            <label for="receipt_date">Ngày nhập hàng:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <input type="date" id="update_receipt_date" name="update_receipt_date" class="form-control custom-input" value="{{  receipt.receipt_date|date:'Y-m-d' }}">
                        </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-md-2 d-flex align-items-center">
                          <label for="order">Mã phiếu đặt:</label>
                      </div>
                      <div class="col-md-4 d-flex align-items-center">
                        <select id="order-select" name="order" class="form-control custom-input order-select" readonly>
                          {% if receipt.order %}
                              <option value="{{ receipt.order.order_code }}" selected>{{ receipt.order.order_code }}</option>
                          {% else %}
                              <option value="" selected>Chọn nhà cung cấp</option>
                          {% endif %}
                          {% for order in orders %}
                              <option value="{{ order.order_code }}">
                                  {{ order.order_code }}
                              </option>
                          {% endfor %}
                          </option>
                      </select>
                      </div>
                      <div class="col-md-2 d-flex align-items-center">
                          <label for="supplier">Nhà cung cấp</label>
                      </div>
                      <div class="col-md-4 d-flex align-items-center">
                          <select id="supplier-select" name="supplier" class="form-control custom-input" readonly>
                              {% if receipt.supplier %}
                                  <option value="{{ receipt.supplier }}" selected>{{ receipt.supplier }}</option>
                              {% else %}
                                  <option value="" selected>Chọn nhà cung cấp</option>
                              {% endif %}
                              {% for sup in supplier %}
                                  <option value="{{ sup.supplier_code }} - {{ sup.supplier_name }}">
                                      {{ sup.supplier_code }} - {{ sup.supplier_name }}
                                  </option>
                              {% endfor %}
                              </option>
                          </select>
                      </div>
                    </div>  
                    <div class="row mb-2">
                        <div class="col-md-2 d-flex align-items-center">
                              <label for="total_quantity">Số lượng nhập:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                              <input type="text" id="update_total_quantity" name="update_total_quantity" class="form-control custom-input" value="{{ receipt.total_quantity }}" readonly>
                        </div>
                        <div class="col-md-2 d-flex align-items-center">
                              <label for="subtotal">Tổng tiền hàng:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                              <input type="text" id="update_subtotal" name="update_subtotal" class="form-control custom-input" value="{{ receipt.subtotal }}" readonly>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-2 d-flex align-items-center">
                            <label for="shipping_fee">Phí vận chuyển:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <input type="text" id="update_shipping_fee" name="update_shipping_fee" class="form-control custom-input" value="{{ receipt.shipping_fee }}">
                        </div>
                        <div class="col-md-2 d-flex align-items-center">
                            <label for="vat_fee">Phí VAT:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <input type="text" id="update_vat_fee" name="update_vat_fee" class="form-control custom-input" value="{{ receipt.vat_fee }}">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-2 d-flex align-items-center" style="white-space: nowrap;">
                            <label for="total_amount">Tổng:</label>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <input type="text" id="update_total_amount" name="update_total_amount" class="form-control custom-input" value="{{ receipt.total_amount }}" readonly>
                        </div>  
                        <div class="col-md-2 d-flex align-items-center">
                              <label for="note">Ghi chú:</label>
                          </div>
                          <div class="col-md-4 d-flex align-items-center">
                              <input type="text" id="update_note" name="update_note" class="form-control custom-input" value="{{ receipt.note }}">
                        </div>
                    </div>              
                    <hr color="#dee2e6">
                    <div id="orderlinesupdate-container">
                      {% for receipt_line in receipt.receiptline_set.all %}
                      <div class="each-orderline">
                          <div class="orderline row mb-2">
                              <div class="col-md-12 d-flex align-items-center">
                                  <span style="color:#CBA230">Nguyên vật liệu&nbsp;</span>
                                  <label class="receipt_line_code" style="color:#CBA230">{{ receipt_line.receipt_line_code }}</label>
                              </div>
                          </div>
                          <div class="orderline row mb-2">
                              <div class="col-md-2 d-flex align-items-center">
                                  <label for="material">Nguyên vật liệu:</label>
                              </div>
                              <div class="col-md-10 d-flex align-items-center">
                                  <select id="material-select" name="material" class="form-control material-select">
                                      <option value="">-- Chọn nguyên vật liệu --</option>
                                      {% for mat in materials %}
                                          <option value="{{ mat.material_code }} - {{ mat.material_name }}" 
                                                  <!-- data-price="{{ mat.price }}" 
                                                  data-unit-of-measure="{{ mat.unit_of_measure }}"
                                                  {% if mat.material_code == receipt_line.material.material_code %} 
                                                      selected
                                                  {% endif %}> -->
                                              {{ mat.material_code }} - {{ mat.material_name }}
                                          </option>
                                      {% endfor %}
                                  </select>
                              </div>
                          </div>
                          <div class="orderline row mb-2">
                              <div class="col-md-2 d-flex align-items-center">
                                  <label for="quantity">Số lượng:</label>
                              </div>
                              <div class="col-md-4 d-flex align-items-center">
                                  <input type="text" name="quantity" class="form-control quantity" value="{{ receipt_line.quantity }}">
                              </div>
                              <div class="col-md-2 d-flex align-items-center">
                                  <label for="unit_of_measure">Đơn vị tính:</label>
                              </div>
                              <div class="col-md-4 d-flex align-items-center">
                                  <input type="text" name="unit_of_measure" class="form-control unit_of_measure" value="{{ receipt_line.unit_of_measure }}">
                              </div>
                          </div>
                          <div class="orderline row mb-2">
                              <div class="col-md-2 d-flex align-items-center">
                                  <label for="price">Đơn giá:</label>
                              </div>
                              <div class="col-md-4 d-flex align-items-center">
                                  <input type="text" name="price" class="form-control price" value="{{ receipt_line.price }}">
                              </div>
                              <div class="col-md-2 d-flex align-items-center">
                                  <label for="total">Thành tiền:</label>
                              </div>
                              <div class="col-md-4 d-flex align-items-center">
                                  <input type="text" name="total" class="form-control total" value="{{ receipt_line.total }}" readonly>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                    </div>                  
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal" style="width: 150px;">Hủy</button>
                    <button type="submit" class="btn submit-btn" id="submitUpdateReceiptBtn" data-receipt-code="{{ receipt.receipt_code }}" style="width: 150px;">Chỉnh sửa & Đóng</button>
                  </div>
                </form>
              </div>
          </div>
        </div>

          <!-- Modal delete -->
          <div class="modal fade" id="modalDelete{{ receipt.receipt_code }}" tabindex="-1" aria-labelledby="modalDeleteLabel{{ receipt.receipt_code }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                  <form id="uploadFileForm" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteMaterialModalLabel" style="color:#CBA230">Xóa phiếu đặt hàng</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Bạn chắc chắn muốn phiếu đặt hàng <strong>{{ receipt.receipt_code }}</strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn submit-btn" id="submitDeleteReceiptBtn" data-receipt-code="{{ receipt.receipt_code }}">Xóa & Đóng</button>
                    </div>
                  </form>
                </div>
            </div>
          </div>

        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p>Không có bất kỳ nguyên vật liệu nào.</p>
  {% endif %}

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if receipt_page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ receipt_page.previous_page_number }}&sort_field={{ current_sort_field }}&sort_order={{ current_sort_order }}&search={{ search_query }}" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>
        {% endif %}

        {% for num in receipt_page.paginator.page_range %}
            {% if receipt_page.number == num %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ num }}&sort_field={{ current_sort_field }}&sort_order={{ current_sort_order }}&search={{ search_query }}">{{ num }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}&sort_field={{ current_sort_field }}&sort_order={{ current_sort_order }}&search={{ search_query }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
</main>


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function() {

    document.getElementById('search-input').addEventListener('keyup', function(event) {
        if (event.key === 'Enter') { 
            const searchValue = this.value;
            const url = new URL(window.location.href);
            url.searchParams.set('search', searchValue);
            url.searchParams.set('page', 1); 
            window.location.href = url.toString();
        }
    });

    ///////////////////////////
    ///////////////////////////
    ///////////////////////////

    $('#order-select').change(function() {
        var orderCode = $(this).val();
        if (orderCode) {
            $.ajax({
                url: "{% url 'catalog:get_orderlines' %}",
                type: 'GET',
                data: {
                    'order_code': orderCode
                },
                success: function(response) {
                    console.log(response)
                    var container = $('.orderlines-container'); 
                    container.empty(); 

                    if (response.length > 0) {
                        response.forEach(function(orderline) {
                            var orderlineHtml = `
                                <div class="each-orderline">
                                    <div class="orderline row mb-2">
                                        <div class="col-md-12 d-flex align-items-center">
                                            <span style="color:#CBA230">Nguyên vật liệu&nbsp;</span>
                                            <label class="order_line_code" style="color:#CBA230">${orderline.order_line_code}</label>
                                        </div>
                                    </div>
                                    <div class="orderline row mb-2">
                                        <div class="col-md-2 d-flex align-items-center">
                                            <label>Nguyên vật liệu:</label>
                                        </div>
                                        <div class="col-md-10 d-flex align-items-center">
                                            <input type="text" class="form-control material-select" value="${orderline.material__material_code} - ${orderline.material__material_name}">
                                        </div>
                                    </div>
                                    <div class="orderline row mb-2">
                                        <div class="col-md-2 d-flex align-items-center">
                                            <label>Số lượng:</label>
                                        </div>
                                        <div class="col-md-4 d-flex align-items-center">
                                            <input type="text" class="form-control quantity" value="${orderline.quantity}">
                                        </div>
                                        <div class="col-md-2 d-flex align-items-center">
                                            <label>Đơn vị tính:</label>
                                        </div>
                                        <div class="col-md-4 d-flex align-items-center">
                                            <input type="text" class="form-control unit_of_measure" value="${orderline.unit_of_measure}">
                                        </div>
                                    </div>
                                    <div class="orderline row mb-2">
                                        <div class="col-md-2 d-flex align-items-center">
                                            <label>Đơn giá:</label>
                                        </div>
                                        <div class="col-md-4 d-flex align-items-center">
                                            <input type="text" class="form-control price" value="${orderline.price}">
                                        </div>
                                        <div class="col-md-2 d-flex align-items-center">
                                            <label>Thành tiền:</label>
                                        </div>
                                        <div class="col-md-4 d-flex align-items-center">
                                            <input type="text" class="form-control total" value="${orderline.total}">
                                        </div>
                                    </div>
                                </div>
                            `;
                            container.append(orderlineHtml); 
                        });
                    } else {
                        container.append("<p>Không có orderline nào cho mã đặt hàng này.</p>");
                    }
                },
                error: function() {
                    alert('Đã xảy ra lỗi khi lấy dữ liệu.');
                }
            });
        } else {
            $('.orderlines-container').empty();  
        }
    });

    ///////////////////////////
    ///////////////////////////
    ///////////////////////////

    $('#order-select').on('change', function() {
        var orderCode = $(this).val();
        if (orderCode) {
            $.ajax({
                url: "{% url 'catalog:get_order_details' %}",
                type: "GET",
                data: {
                    order_code: orderCode
                },
                success: function(data) {
                    $('#supplier-select').val(data.supplier_code);
                    $('#total_quantity').val(data.total_quantity);
                    $('#subtotal').val(data.subtotal);
                    $('#total_amount').val(data.subtotal);
                },
                error: function() {
                    alert('Đã có lỗi xảy ra, vui lòng thử lại sau.');
                }
            });
        } else {
            $('#subtotal').val('');
        }
    });

    ///////////////////////////
    ///////////////////////////
    ///////////////////////////

    $(document).ready(function () {

      $(document).on('input', '.quantity, .price', function () {
          updateTotalPrice(this);
      });

      function updateTotalPrice(inputElement) {
          let orderlineRow = $(inputElement).closest('.each-orderline');
          let quantity = parseFloat(orderlineRow.find('.quantity').val()) || 0;
          let price = parseFloat(orderlineRow.find('.price').val()) || 0;
          let total = 0;

          console.log("Quantity:", quantity, "Price:", price);

          total = quantity * price;
          orderlineRow.find('.total').val(total.toFixed(2));
          console.log("Total:", total);
          updateSubtotal();
      }

      function updateSubtotal() {
          let subtotal = 0;
          let totalQuantity = 0;

          $('.orderlines-container .total').each(function () {
              let value = parseFloat($(this).val()) || 0;
              subtotal += value;
          });
          $('.orderlines-container .quantity').each(function () {
              let value = parseFloat($(this).val()) || 0;
              totalQuantity += value;
          });
          $('#subtotal').val(subtotal.toFixed(2));
          $('#total_quantity').val(totalQuantity);
          $('#total_amount').val(subtotal.toFixed(2));
          calculateTotal()
      }

      function calculateTotal() {
          var subtotal = parseFloat($('#subtotal').val()) || 0; 
          var shippingFee = parseFloat($('#shipping_fee').val()) || 0; 
          var vatFee = parseFloat($('#vat_fee').val()) || 0; 
          
          var total = subtotal + shippingFee + vatFee;

          $('#total_amount').val(total.toFixed(2));
      }

      $('#subtotal, #shipping_fee, #vat_fee').on('input', function() {
          calculateTotal(); 
      });
    });


    ///////////////////////////
    ///////////////////////////
    ///////////////////////////

    $(document).ready(function () {
        $(document).on('input', '.quantity, .price', function () {
            updateTotalPriceEdit(this);
        });

        function updateTotalPriceEdit(inputElement) {
            let formContainer = $(inputElement).closest('.modal-body'); 
            let orderlineRow = $(inputElement).closest('.each-orderline');
            let quantity = parseFloat(orderlineRow.find('.quantity').val()) || 0;
            let price = parseFloat(orderlineRow.find('.price').val()) || 0;
            let total = quantity * price;

            orderlineRow.find('.total').val(total.toFixed(2));
            updateSubtotalEdit(formContainer);
        }

        function updateSubtotalEdit(formContainer) {
            let subtotal = 0;
            let totalQuantity = 0;
            formContainer.find(' .total').each(function () {
                let value = parseFloat($(this).val()) || 0;
                subtotal += value;
            });

            formContainer.find(' .quantity').each(function () {
                let value = parseFloat($(this).val()) || 0;
                totalQuantity += value;
            });

            console.log('subtotal: ', subtotal);
            formContainer.find('#update_subtotal').val(subtotal.toFixed(2));
            formContainer.find('#update_total_quantity').val(totalQuantity);
            calculateTotalEdit(formContainer);
        }

        function calculateTotalEdit(formContainer) {
            let subtotal = parseFloat(formContainer.find('#update_subtotal').val()) || 0;
            let shippingFee = parseFloat(formContainer.find('#update_shipping_fee').val()) || 0;
            let vatFee = parseFloat(formContainer.find('#update_vat_fee').val()) || 0;
          
            let total = subtotal + shippingFee + vatFee;
            console.log('total: ', total);
            formContainer.find('#update_total_amount').val(total.toFixed(2));
        }

        $(document).on('input', '#update_subtotal, #update_shipping_fee, #update_vat_fee', function () {
            let formContainer = $(this).closest('.modal-body');
            calculateTotalEdit(formContainer);
        });
    });



    ///////////////////////////
    ///////////////////////////
    ///////////////////////////

    $('#submitUploadFileBtn').click(function(e) {
      e.preventDefault();

      var url = '{% url "catalog:upload_receipt" %}';
      var csrftoken = '{{ csrf_token }}';
      var fileInput = document.getElementById('file').files[0];
      var sheetUrl = document.getElementById('sheetUrl').value;
      var formData = new FormData();

      if (fileInput) {
        formData.append('file', fileInput);
      } else if (sheetUrl) {
        formData.append('sheetUrl', sheetUrl);
      } else {
        alert("Vui lòng chọn file hoặc nhập URL của Google Sheets.");
        return;
      }

      fetch(url, {
        method: 'POST',
        body: formData,
        headers: {
          'X-CSRFToken': csrftoken,
        },
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        console.log(data);
        alert("Tệp đã được tải lên và xử lý thành công");
        $('#uploadFileModal').modal('hide');
        window.location.reload(); 
      })
      .catch(error => {
        console.error('Error:', error);
        alert("Đã xảy ra lỗi khi xử lý tệp.");
      });
    });

    ///////////////////////////
    ///////////////////////////
    ///////////////////////////
    
    $('#submitCreateReceiptBtn').click(function(e) {
      e.preventDefault();

        var url = '{% url "catalog:create_receipt" %}';
        var csrftoken = '{{ csrf_token }}';

        var receiptData = {
            receipt_code: $('#receipt_code').val(),
            receipt_date: $('#receipt_date').val(),
            supplier: $('#supplier-select').val(),
            order: $('#order-select').val(),
            total_quantity: $('#total_quantity').val(),
            subtotal: $('#subtotal').val(),
            shipping_fee: $('#shipping_fee').val(),
            vat_fee: $('#vat_fee').val(),
            total_amount: $('#total_amount').val(),
            receipt_lines: []
        };

        $(".orderlines-container .each-orderline").each(function() {
            var receiptLine = {
                receipt_line_code: $(this).find(".order_line_code").text(), 
                material: $(this).find(".material-select").val(),
                quantity: $(this).find(".quantity").val(),
                price: $(this).find(".price").val(),
                unit_of_measure: $(this).find(".unit_of_measure").val(),
                total: $(this).find(".total").val()
            };
            console.log(receiptLine);
            receiptData.receipt_lines.push(receiptLine);
        });

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(receiptData)
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then(data => {
          console.log(receiptData);
          alert("Phiếu nhập hàng mới đã thêm thành công");
          $('#createReceiptModal').modal('hide');
          window.location.reload(); 
        })
        .catch(error => {
          console.error('Error:', error);
          alert("Đã xảy ra lỗi khi xử lý tệp.");
        });
    });

    ///////////////////////////
    ///////////////////////////
    ///////////////////////////

    $(document).on('click', '#submitDeleteReceiptBtn', function(e) {
      e.preventDefault();
      var receipt_code = $(this).data('receipt-code');
      console.log("Receipt Code:", receipt_code);
      var url = '{% url "catalog:delete_receipt" receipt_code="RECEIPT_CODE" %}';
      url = url.replace("RECEIPT_CODE", receipt_code);
      var csrftoken = '{{ csrf_token }}';
        
      fetch(url, {
          method: 'POST', 
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrftoken,
          },
          body: JSON.stringify({ receipt_code: receipt_code })
      })
      .then(response => {
          if (!response.ok) {
              return response.json().then(data => { throw new Error(data.error || 'Có lỗi xảy ra'); });
          }
          return response.json();
      })
      .then(data => {
          alert(data.message || "Phiếu nhập hàng đã được xóa thành công!");
          location.reload(); 
      })
      .catch(error => {
          console.error('Error:', error);
          alert(error.message || "Đã xảy ra lỗi khi xóa phiếu nhập hàng.");
      });
    });

    ///////////////////////////
    ///////////////////////////
    ///////////////////////////

    $(document).on('click', '#submitUpdateReceiptBtn', function(e) {
        e.preventDefault();    
        var modal = $(this).closest('.modal');        
        var receipt_code = $(this).data('receipt-code');
        console.log("Receipt Code:", receipt_code);
        var url = '{% url "catalog:update_receipt" receipt_code="RECEIPT_CODE" %}';
        url = url.replace("RECEIPT_CODE", receipt_code);
        var csrftoken = '{{ csrf_token }}';

        var updateData = {
            receipt_code: modal.find('#update_receipt_code').val(),
            receipt_date: modal.find('#update_receipt_date').val(),
            supplier: modal.find('#supplier-select').val(),
            order: modal.find('#order-select').val(),
            total_quantity: modal.find('#total_quantity').val(),
            subtotal: modal.find('#update_subtotal').val(),
            shipping_fee: modal.find('#update_shipping_fee').val(),
            vat_fee: modal.find('#update_vat_fee').val(),
            total_amount: modal.find('#update_total_amount').val(),
            receiptlines_update: []
        };

        modal.find("#orderlinesupdate-container .each-orderline").each(function() { 
            var receiptLineUpdate = {
                receipt_line_code: $(this).find(".receipt_line_code").text(), 
                material: $(this).find(".material-select").val(),
                quantity: $(this).find(".quantity").val(),
                price: $(this).find(".price").val(),
                unit_of_measure: $(this).find(".unit_of_measure").val(),
                total: $(this).find(".total").val()
            };
            console.log(receiptLineUpdate);
            updateData.receiptlines_update.push(receiptLineUpdate);
        });

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(updateData)
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(data => { throw new Error(data.error || 'Có lỗi xảy ra'); });
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
            alert(data.message || "Nguyên vật liệu đã được chỉnh sửa thành công!");
            location.reload(); 
        })
        .catch(error => {
          console.error('Error:', error);
          alert(error.message || "Đã xảy ra lỗi khi chỉnh sửa nguyên vật liệu .");
        });
    });

  });
</script>
{% endblock %}

